#imageContainer {
  background-color: #333;
  width: 100%;
  overflow: hidden;
}

#imageContainer img {
  animation: kenburn 20s infinite;
}

@keyframes kenburn {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(40px, 40px, 0px);
    animation-timing-function: ease-in;
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}