*{margin: 0;padding: 0}
.box{
    width: 100%;
    position: relative;
}
.box img{
    width: 100%;
    filter: brightness(50%);
}
p{
    position: absolute;
}
.atasKiri{
    top: 10px;
    left: 10px;
}
.bawahKiri{
    bottom: 10px;
    left: 10px;
}
.atasKanan{
    top: 10px;
    right: 10px;
}
.bawahKanan{
    bottom: 10px;
    right: 10px;
}
.tengah{
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    font-size: 3vw;
    line-height: 60px;
    background-color:#e0ac3c;
}
.tengah1{
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    font-size: 5vw;
    line-height: 30px;
    text-align: center;
}